<h2>Detail Page</h2>
<div id="stuff">
  {{!-- <h4>Welcome <em>ADD NAME HERE</em></h4> --}}

  <img src="{{ image }}" class="img-responsive" style="width: 100%">
  <h3>{{ title }}</h3>
  <p>{{ summary }}</p>

  {{#each stuff}}
  <p>{{ greeting }} {{ subject }}</p>
  {{/each}}





